






.contact-box {
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin-top: 300px;
    

}

form {
    margin: 35px;

}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    outline: none;
    background-color: rgb(255, 245, 232);
}


.footer-main {
    margin-top: 800px;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.btn {
  color: white; 
  background-color: rgb(255, 136, 93);
  margin-top: 20px;
  padding: 20px;
  width: 422px;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;

}

body {
    background-color: rgb(255, 245, 232);
}

.contact-text {
    margin-left: 100px;
    margin-top: 100px;
    border: aliceblue;
    background-color:  rgb(255, 245, 232);
    color: rgb(36, 36, 36);
    font-family: "source+sans+pro", sans-serif;
}

hr {
    width: 1200px;
    float: left;
    margin-left: 100px;
}

.contact-p {
    font-size: 16px;
}